.wrapper {
    .albums {
        position: relative;
        list-style: none;
        .albums__item {
            cursor: pointer;
            font-family: sans-serif;
            font-size: 2.5rem;
            border: 1px solid orange;
            margin: 3px;
            padding: 3px;
            .album__title {
                color: #bdbdbd;
            }
            .icon-add-photo {
                width: 25px;
                margin-right: 5px;
            }
        }
        .photos-container {
            display: flex;
            justify-content: space-between;
        }
    }
    .btn-add-album {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 5px;
        text-align: center;
        cursor: pointer;
        font-family: sans-serif;
        font-size: 2rem;
        color: gray;
        box-shadow: 0 0 3px rgb(69, 181, 255);
        border: 1px solid rgb(69, 181, 255);
        &:hover {
            box-shadow: none;
        }
        &.disabled {
            opacity: 0.3;
        }
    }
}

#modal {
    .title-container {
        padding: 3rem;
        margin: 4rem 0;
        text-align: center;
        font-size: 2.5rem;
        display: flex;
        justify-content: space-between;
    }

    .photo-container {
        padding: 3rem;
        margin: 4rem 0;
        text-align: center;
        font-size: 2.5rem;
        display: flex;
        justify-content: space-between;
    }
}